.container {
  margin: 64px auto;
  padding: 16px;
  max-width: 1280px;
  background: var(--oc-gray-0);
}

.playlist {
  max-height: 390px;
  overflow: auto;
}

.YouTubePlayer {
  padding: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}
